/* OVERALL STYLE */

:root{
    --dark-color: #242424;
    --bamboo-color: #5ac55a;
    --paper-color: #ffeec8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--dark-color);
    color: var(--paper-color);
    font-family: Helvetica, Arial, sans-serif;
}

section{
    padding: 60px;
}

.section-title {
    font-size: 48px;
    width: 158px;
    border-right: 3px solid;
    padding-right: 20px;
}

.flex-row {
    display: flex;
}

/* HEADER STYLE */

header {
    z-index: 9999;
    padding: 20px 35px;
    background-color: var(--dark-color);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    text-shadow: 0 0 10px rgba(255, 225, 255, 0.25);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 20px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(255, 225, 255, 0.40);
}

header nav ul li a:hover {
    background: var(--bamboo-color);
    color: var(--paper-color);
    border-radius: 15px;
    text-shadow: none;
}

header a {
    text-decoration: none;
    color: var(--bamboo-color);
}

/* HERO */
.hero {
    background-image: url("../images/bamboo-forest-hero.jpg");
    background-size: cover;
    background-position: 10%;
    background-attachment: fixed;
    justify-content:end;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 30px;
}

.hero h2 {
    margin: 270px 50px 0 0;
    text-shadow: 0 0 50px rgb(0, 0, 0, 1);
    font-size:1.55vw;
    text-align: right;
    width: 100%;
}

/* ABOUT ME */
.introduction {
    display: flex;
    justify-content: space-between;

}

.introduction .wrapper {
    display: flex;
    justify-content: center;
}

.introduction img {
    width: 30%;
    margin: 3.5% 5% 3.5% 2%;
    border-radius: 15%;
}

.introduction p {
    width: 50%;
    align-self: center;
    margin: 3.5% 2% 3.5% 10%;
    font-size: 18px;
    line-height: 1.5;
}

/* WORK */
.work{
    display: flex;
    justify-content: space-between;
}
.work .wrapper{
    display: flex;
    justify-content: center;
}

.work a{
    width: 48%;
    border-radius: 14px;
    border: 10px solid var(--bamboo-color);
    font-size: 22px;
    margin-bottom: 15px;
    padding: 20px 100px 20px 0;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #000;
    background-color: #ffffff;
    opacity: 0.6;
}

.work a:hover{
    opacity: 1;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.work span{
    background-color: var(--bamboo-color);
    width: 150px;
    
}

.work-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-left: 3.5%;
    
}

.transbox:hover {
  background-color: #ffffff;
  width:100%;
  opacity: 0.6;
}


.work #portfolio{
    background-image: url("../images/portfolio-work.PNG");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

#run-buddy{
    background-image: url("../images/run-buddy-work.PNG");
    background-size: cover;
    background-position: center;
} 
#horiseon{
    background-image: url("../images/horiseon-work.PNG");
    background-size: cover;
    background-position: center;
}
#chem{
    background-image: url("../images/chemistry-work3.PNG");
    background-size: cover;
    background-position: center;
} 
#algo {
    background-image: url("../images/java-algo-work.PNG");
    background-size: cover;
    background-position: center;
}

/* CONTACT-ME  */
.contact h2{
    font-size: 48px;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.contact-items {
    display:flex;
    justify-content: space-evenly;
}

.contact-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.contact-links a {
    color: var(--paper-color);
    background-color: var(--bamboo-color);
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}


/* FOOTER */
footer {
    text-align: center;
}



